$component-padding: 10px;

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#beds-form {
    padding: $component-padding;
    width: fit-content;
}

#beds-fields-row {
    display: flex;
    flex-direction: row;
    label {
        display: flex;
        flex-direction: column;
    }
    input {
        margin-right: 15px;
    }
}

#tabs-bar {
    padding: $component-padding;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    .tab {
        padding: 5px;
        padding-right: 25px;
        padding-left: 25px;
        border-bottom: 3px solid transparent;
    }

    .selected {
        border-bottom: #5cc05c 3px solid;
    }
}

#listings-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        box-shadow: #cecece 2px 2px 10px;
        padding: 25px;
        margin: 15px;
    }
}